doctype html
html 
    head 
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Custom Object Records
        a(href="/update-cobj") Add to this table
        
        table
            thead
                tr
                    th Property 1 Label
                    th Property 2 Label
                    th Property 3 Label
            tbody
                if data && data.length > 0
                    each record in data
                        tr
                            td= record.properties.prop_1
                            td= record.properties.prop_2
                            td= record.properties.prop_3
                else
                        tr
                            td(colspan="3") No records found.