doctype html
html 
    head 
        title= title
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Custom Object Records
        a(href="/update-cobj") Add to this table
        
        table
            thead
                tr
                    th Pet Name
                    th Pet Type
                    th Weight (lbs)
            tbody
                each record in data
                    tr
                        td= record.properties.pet_name
                        td= record.properties.pet_type
                        td= record.properties.weight