doctype html
html 
    head 
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        .form-wrapper
            h1 Update Custom Object
            a(href="/") Return to the homepage
            
            form(method="POST")
                label(for="pet_name") Pet Name
                input(type="text" name="pet_name" required)
                
                label(for="pet_type") Pet Type
                input(type="text" name="pet_type" required)
                
                label(for="weight") Weight
                input(type="number" name="weight" required)
                
                button(type="submit") Submit